
//
// VARIABLES
//

// Colors
$blue: #39A0ED;
$teal: #1ABC9C;
$tealLight: #36F1CD;
$purpleNavy: #4C6085;

// Grays
$black: #32322C;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
